h1 {
    font-size: 45px;
}
.logo {
    height: 100px;
    width: 100xpx;
}
.title {
    margin-bottom: 40px;
    margin-top: 20px;
}
.p {
    margin-left: 10px;
}
.paragraph {
    margin-left: 10px;
}
.button-functions {
    padding: 30px 60px 30px 60px; 
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
}
.button-insert {
    cursor: pointer;
    padding: 20px 40px 20px 40px;
}
.buttons-plus-or-minus{
    margin-top: 100px;
}
.js-counter {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}


body {
    background-color: lightskyblue;
    background-repeat: no-repeat;
}
.description {
    font-size: 20px;
    margin-top: 20px;
    line-height: 30px;
}