h1 {
    font-size: 45px;
    text-transform: uppercase;
    text-align: center;
}
.logo {
    height: 80px;
    width: 100px;
}
.title {
    margin-bottom: 40px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 170px;
    background-repeat: no-repeat;
    background-position: center;
}
.p {
    margin-left: 10px;
}
.paragraph {
    margin-left: 10px;
    margin-right: 10px;
}
.button-functions {
    padding: 30px 60px 30px 60px; 
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
}
.button-insert {
    cursor: pointer;
    padding: 20px 40px 20px 40px;
}
.buttons-plus-or-minus{
    margin-top: 100px;
    height: 900px;
}
.js-counter {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}


body {
    background-color: #87cefa;
    padding-top: 0px;
    margin-top: 0px;
}
.description {
    font-size: 25px;
    margin-top: 20px;
    line-height: 30px;
    font-weight: 700;
}